config radio 'radio'
        option eui ''
        option device ''
        option region ''
        option freq_plan ''
        option channel_plan ''
        option enabled '0'
        option platform 'chirpstack'

config log 'ui'
        option auto_refresh '1'
        option buffer_limit '2000'
        list watch_keywords 'error'
